.about-wrapper{
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    // min-height: 100vh;
    padding-bottom: 2.5rem;
    
    
    .image{
        
        img{
            width: 500px;
            height: 600px;
        }
        
    }
    
    .about-content{
        display: grid;
        grid-template-columns: 1fr;
        height: 30vh;
        align-self:center ;



        .heading{
            width: 100%;
            padding-top: 50px;
            align-items: center;
            justify-content: center;
            text-align: center;
            


        }

        .text{
            width: 35vw;
            align-items: center;
            justify-content: center;
            text-align: center;

        }

    }

}