    @mixin input{
        input{
            transition: 0.5s all ease-in-out;
            color: black;
            width: 100%;
            border-top: 0px;
            border-right: 0px;
            border-left: 0px;
            border-bottom: 1px solid $teal;
            background-color: transparent;
            transition: 0.5s all ease-in-out;
            font-size: 1.1em;
            margin-bottom: 21px;
            
            &:focus {
                outline: none;
                border-bottom: 1px solid $dark-teal;
            }
            
        }
    }