.shop-wrapper{
    // width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;


    
    


    .picture{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;

    }



    .fashion-picture-one{
        
        img{

            height: 560px ;
            width: 448px;
        }
    }

    .fashion-picture-two{

        img{

            height: 560px;
            width: 448px;
        }
    }

    .fashion-picture-three{
        img{
            height:560px ;
            width:  448px;
        }
    }

    .fashion-picture-four{
        top: -100;
        img{
            height: 560px;
            width: 448px;
            align-items: center;
        }
    }

    .fashion-picture-five{
        img{
            height: 560px;
            width: 448px;
        }
    }

    .fashion-picture-six{
        img{
            height: 560px;
            width: 448px;
        }
    }
    .fashion-picture-seven{
        img{
            height: 560px;
            width: 448px;
        }
    }
    .fashion-picture-eight{
        img{
            height: 560px;
            width: 448px;
        }
    }
    .fashion-picture-nine{
        img{
            height: 560px;
            width: 448px;
        }
    }
    .fashion-picture-ten{
        img{
            height: 560px;
            width: 448px;
        }
    }
    .fashion-picture-eleven{
        img{
            height: 560px;
            width: 448px;
        }
    }
    .fashion-picture-twelve{
        img{
            height: 560px;
            width: 448px;
        }
    }
    .fashion-picture-thirteen{
        img{
            height: 560px;
            width: 448px;
        }
    }
    .fashion-picture-fourteen{
        img{
            height: 560px;
            width: 448px;
        }
    }
    .fashion-picture-fifthteen{
        img{
            height: 560px;
            width: 448px;
        }
    }
    .fashion-picture-sixteen{
        img{
            height: 560px;
            width: 448px;
        }
    }
    .fashion-picture-seventeen{
        img{
            height: 560px;
            width: 448px;
        }
    }
    .fashion-picture-eighteen{
        img{
            height: 560px;
            width: 448px;
        }
    }
    .fashion-picture-nineteen{
        img{
            height: 560px;
            width: 448px;
        }
    }
    .fashion-picture-twenty{
        img{
            height: 560px;
            width: 448px;
        }
    }
    .fashion-picture-twentyone{
        img{
            height: 560px;
            width: 448px;
        }
    }
    .fashion-picture-twentytwo{
        img{
            height: 560px;
            width: 448px;
        }
    }
    .fashion-picture-twentythree{
        img{
            height: 560px;
            width: 448px;
        }
    }
    .fashion-picture-twentyfour{
        img{
            height: 560px;
            width: 448px;
        }
    }
    .fashion-picture-twentyfive{
        img{
            height: 560px;
            width: 448px;
        }
    }
    .fashion-picture-twentysix{
        img{
            height: 560px;
            width: 448px;
        }
    }
    .fashion-picture-twentyseven{
        img{
            height: 560px;
            width: 448px;
        }
    }
    .fashion-picture-twentyseven{
        img{
            height: 560px;
            width: 448px;
        }
    }
    .fashion-picture-twentyeight{
        img{
            height: 560px;
            width: 448px;
        }
    }
    .fashion-picture-twentynine{
        img{
            height: 560px;
            width: 448px;
        }
    }
    .fashion-picture-thirty{
        img{
            height: 560px;
            width: 448px;
        }
    }
    .fashion-picture-thirtyone{
        img{
            height: 560px;
            width: 448px;
        }
    }
    .fashion-picture-thirtytwo{
        img{
            height: 560px;
            width: 448px;
        }
    }
    .fashion-picture-thirtythree{
        img{
            height: 560px;
            width: 448px;
        }
    }
    .fashion-picture-thirtyfour{
        img{
            height: 560px;
            width: 448px;
        }
    }
    .fashion-picture-thirtyfive{
        img{
            height: 560px;
            width: 448px;
        }
    }
    .fashion-picture-thirtysix{
        img{
            height: 560px;
            width: 448px;
        }
    }
    .fashion-picture-thirtyseven{
        img{
            height: 560px;
            width: 448px;
        }
    }
    .fashion-picture-thirtyeight{
        img{
            height: 560px;
            width: 448px;
        }
    }
    .fashion-picture-thirtynine{
        img{
            height: 560px;
            width: 448px;
        }
    }
    .fashion-picture-forty{
        img{
            height: 560px;
            width: 448px;
        }
    }




}